<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Corporate</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header>
        <nav class="main-nav">
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </nav>

        <aside class="info-bar">
            <img class="logo" src="assets/images/logo.jpg" alt="tech corporate">
            <div class="vl"></div>
            <p>Free PSD Website Template</p>
            <dl>
                <dt>Tel: <a href="tel:0262338162">0262 338 162</a></dt>
                <dt>Mail: <a href="mailto:info@domain.com">info@domain.com</a></dt>
            </dl>
        </aside>
    </header>

    <main>
        <article class="slider">
            <img src="assets/images/tech.jpg" alt="slider">
            <section class="description">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <hr class="dotted">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem aut, incidunt ipsum, ipsa quis,
                    excepturi id assumenda deserunt laboriosam voluptate soluta? Sapiente perferendis commodi veritatis
                    nostrum! Libero dolor provident cupiditate.</p>
            </section>
            <button class="call-to-action">Today's Technology >></button>
        </article>
        <section class="blog-posts">
            <article>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <hr class="dotted">
                <img src="assets/images/article.jpg" alt="article"> <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem aut, incidunt ipsum, ipsa quis,
                excepturi id assumenda deserunt laboriosam voluptate soluta? Sapiente perferendis commodi veritatis
                nostrum! Libero dolor provident cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                <br>
                <p>Read More >></p>
            </article>
            <article>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <hr class="dotted">
                <img src="assets/images/article.jpg" alt="article"> <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem aut, incidunt ipsum, ipsa quis,
                excepturi id assumenda deserunt laboriosam voluptate soluta? Sapiente perferendis commodi veritatis
                nostrum! Libero dolor provident cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                <br>
                <p>Read More >></p>
            </article>
            <article>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <hr class="dotted">
                <img src="assets/images/article.jpg" alt="article"> <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem aut, incidunt ipsum, ipsa quis,
                excepturi id assumenda deserunt laboriosam voluptate soluta? Sapiente perferendis commodi veritatis
                nostrum! Libero dolor provident cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                <br>
                <p>Read More >></p>
            </article>
        </section>
        <hr class="dotted-middle">
        <div class="middle">
            <div class="column">
                <img src="assets/images/aside.jpg" alt="aside"></div>
            <div class="column">
                <h1>Lorem ipsum dolor sit amet</h1>
                <hr class="dotted">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil a, amet reprehenderit beatae
                    repellendus cupiditate impedit unde accusantium repellat asperiores temporibus provident ad aliquid.
                    Aut, soluta necessitatibus! Autem dolore dicta corrupti odio molestias fugit, porro impedit, dolor
                    dignissimos blanditiis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil a, amet
                    reprehenderit beatae repellendus cupiditate impedit unde accusantium repellat asperiores temporibus
                    provident ad aliquid. Aut, soluta necessitatibus! Autem dolore dicta corrupti odio molestias fugit,
                    porro impedit, dolor
                    dignissimos blanditiis vel. Aut, soluta necessitatibus! Autem dolore dicta corrupti odio molestias
                    fugit, porro impedit, dolor
                    dignissimos blanditiis vel. Aut, soluta necessitatibus! Autem dolore dicta corrupti odio molestias
                    fugit, porro impedit, dolor
                    dignissimos blanditiis vel.</p> <br>
                <div>Continue Reading >></div>
            </div>
            <div class="column">
                <p>Categories</p>
                <li><a href="#">>> Link Text Goes Here</a></li>
                <li><a href="#">>> Link Text Goes Here</a></li>
                <li><a href="#">>> Link Text Goes Here</a></li>
                <li><a href="#">>> Link Text Goes Here</a></li>
                <li><a href="#">>> Link Text Goes Here</a></li>
            </div>
        </div>
        <hr class="dotted">


        <section class="partners">
            <img class="item" src="assets/images/partners.jpg" alt="text">
            <img class="item" src="assets/images/partners.jpg" alt="text">
            <img class="item" src="assets/images/partners.jpg" alt="text">
            <img class="item" src="assets/images/partners.jpg" alt="text">
            <img class="item" src="assets/images/partners.jpg" alt="text">
        </section>
    </main>

    <footer>
        <p>Copyright @ 2009 Domain Name - All Rights Reserved</p>
        <p>Template by OS Templates</p>
    </footer>
</body>

</html>